* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cinzel', serif;
    background: #1c1c1c;
    background-image: url('pics/background.gif');
    background-size: cover;
    background-position: center center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    cursor: none;
    overflow: hidden;
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f1c40f;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease, box-shadow 0.3s ease;
    z-index: 99999;
}

.cursor-hover {
    transform: scale(2);
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
}

.sidebar {
    width: 25%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 2px solid #f1c40f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    z-index: 10;
}

.menu-header {
    width: 210px;
    height: 350px;
    background-image: url('pics/background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu-title {
    font-size: 48px;
    font-weight: bold;
    color: #f1c40f;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    z-index: 1;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}

.navbar-item {
    display: flex;
    align-items: center;
    margin: 15px 0;
    cursor: pointer;
    font-size: 18px;
    color: #f1c40f;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.2s ease;
}

.navbar-item img {
    object-fit: cover;
    margin-right: 12px;
    width: 30px;
    height: 30px;
}

.navbar-item:hover {
    color: #d4af37;
    transform: scale(1.1);
}

.navbar-item.exit-btn {
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #f1c40f;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.2s ease;
}

.navbar-item.exit-btn img {
    object-fit: cover;
    margin-right: 12px;
    width: 30px;
    height: 30px;
}

.navbar-item.exit-btn:hover {
    color: #d4af37;
    transform: scale(1.1);
}
